---
import Layout from "../../../layouts/Layout.astro";
import SchoolSeatSelector from "../../../components/SchoolSeatSelector";
---

<Layout description="자리 배치" title="자리 배치">
  <div class="mx-auto max-w-4xl rounded-lg bg-white p-6 shadow-md">
    <SchoolSeatSelector client:load />
  </div>
</Layout>
