---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="TODO" description="TODO">
  <main
    class="mx-auto w-full max-w-4xl p-4 text-lg leading-relaxed text-black dark:text-white"
  >
    <h1 class="mb-4 text-center text-4xl font-bold">TODO List</h1>
    <ul class="list-disc pl-5">
      <li class="mb-2">(매우나중) 커뮤니케이션 추가</li>
    </ul>
  </main>
</Layout>
