---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/RedirectCard.astro";
import links from "../../assets/url-url.json";
---

<Layout title="유용한 링크 모음" description="유용한 링크 모음">
  <div class="container mx-auto p-4">
    <h1
      class="mb-8 bg-linear-to-r from-blue-500 to-green-500 bg-clip-text text-4xl font-bold text-transparent"
    >
      유용한 링크 모음
    </h1>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        links.map((link) => (
          //@ts-ignore
          <Card
            title={link.title}
            description={link.description}
            link={link.link}
            type={link.type}
          />
        ))
      }
    </div>
  </div>
</Layout>
