---
import Layout from "@layouts/Layout.astro";
import Card from "@components/IndexCard.astro";
import "@styles/pages/index.css";
---

<Layout title="INFO.KMHS.KR" description="근명고등학교 정보를 제공합니다.">
  <main class="jetbrains-theme">
    <header class="header-container">
      <h1>
        Welcome to <span class="gradient-text">INFO.KMHS.KR</span>
      </h1>
      <p class="sub-heading">근명고등학교 학생들을 위한 정보 서비스</p>
    </header>
    <section class="feature-grid">
      <Card
        class="card"
        href="/academic_calendar"
        title="🎓 학사일정"
        body="학사일정을 빠르게 확인하세요."
      />
      <Card
        class="card"
        href="/meal"
        title="🍱 급식"
        body="오늘과 내일의 급식 정보를 확인하세요."
      />
      <Card
        class="card"
        href="/timetable"
        title="🕒 시간표"
        body="학교 시간표를 손쉽게 확인하세요."
      />
      <Card
        class="card"
        href="/install"
        title="⬇️ 설치"
        body="이 사이트를 앱으로 설치해보세요."
      />
      <Card
        class="card"
        href="/tool/snowflake"
        title="❄️ Snowflake"
        body="전 세계 검열 우회 시스템을 확인하세요."
      />
      <Card
        class="card"
        href="/about"
        title="ℹ️ About"
        body="해당 사이트에 대해 알아보세요."
      />
    </section>
    <footer>
      <p class="footer-text">
        <strong>INFO.KMHS.KR</strong>는 항상 여러분과 함께합니다. 도움이 필요하면
        이메일로 문의하세요: <a href="mailto:me@nergis.dev" class="email-link"
          >me@nergis.dev</a
        >
      </p>
    </footer>
  </main>
</Layout>
