---
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="설치 페이지" description="INFO.KMHS.KR를 간단하게 설치해보세요!">
  <main
    class="mx-auto w-full max-w-4xl p-4 text-lg leading-relaxed text-black dark:text-white"
  >
    <h1 class="my-8 text-center text-3xl font-bold">INFO.KMHS.KR - 설치</h1>
    <div class="mb-8">
      <h4 class="mb-2 text-2xl font-semibold">Android</h4>
      <button
        id="installButton"
        class="rounded bg-blue-500 px-4 py-2 text-white"
        ><Icon name="mdi:arrow-down-box" /></button
      >
    </div>
    <div class="mb-8">
      <h4 class="mb-2 text-2xl font-semibold">IOS</h4>
      <p>
        <Icon name="mdi:ios-share" class="inline-block h-6 w-6" /> 버튼을 눌러 <strong
          >홈 화면</strong
        >에 추가하기를 통해 설치를 해주세요.
      </p>
    </div>
  </main>
  <script is:inline type="module">
    let deferredPrompt;
    const installButton = document.getElementById("installButton");
    // noinspection SpellCheckingInspection
    window.addEventListener("beforeinstallprompt", (e) => {
      e.preventDefault();
      deferredPrompt = e;
      // noinspection JSUnresolvedReference
      installButton.style.display = "block";
    });
    installButton.addEventListener("click", async () => {
      if (deferredPrompt) {
        await deferredPrompt.prompt();
        deferredPrompt = null;
      }
    });
  </script>
</Layout>
